<a
  [routerLink]="['/account/profile/entity']"
  class="mb-6 flex items-center hover:opacity-70"
>
  <tui-svg src="icons::account-back" class="mr-3 !h-[32px] !w-[32px]"></tui-svg>
  <span class="text-sm">Назад к личному кабинету</span>
</a>
<h1 class="mb-8 font-heading text-2xl font-bold sm:text-3xl">
  Персональные данные
</h1>
<div class="max-w-[570px]">
  <tui-loader [showLoader]="isLoading$ | async">
    <ng-container *ngIf="profile">
      <ul class="mb-8 space-y-2 border-b border-gray-300 pb-11">
        <li
          class="flex items-baseline justify-between gap-1 after:order-2 after:h-1 after:basis-full after:border-b after:border-dotted after:border-gray-500"
        >
          <span class="order-1 flex-shrink-0">Логин:</span>
          <span class="order-3 flex-shrink-0">{{
            profile['email'].value
          }}</span>
        </li>
        <li
          class="flex items-baseline justify-between gap-1 after:order-2 after:h-1 after:basis-full after:border-b after:border-dotted after:border-gray-500"
        >
          <span class="order-1 flex-shrink-0">Пароль:</span>
          <span class="order-3 flex-shrink-0">*********</span>
        </li>
      </ul>
    </ng-container>
  </tui-loader>
  <h2 class="mb-6 font-heading text-lg font-bold">Данные организации</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-2 gap-x-8 gap-y-4"
  >
    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
      >
        Наименование организации
      </span>
      <tui-input
        tuiTextfieldSize="m"
        formControlName="name"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >Руководитель</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="contactperson"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="contactperson"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >Телефон</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="phone"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="phone"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >ИНН</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="inn"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="inn"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >КПП</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="kpp"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="kpp"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >ОГРН</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="ogrn"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="ogrn"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >Банк</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="bank"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="bank"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >Р/с</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="rs"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="rs"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >К/с</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="ks"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="ks"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >№ Договора</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="contractNumber"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="contractNumber"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >Дата договора</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="contractDate"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="contractDate"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label class="col-span-2 block sm:col-span-1">
      <span
        class="mb-1 inline-block text-xs"
        [ngClass]="(isLoading$ | async) ? 'opacity-0' : 'opacity-100'"
        >Перевозчик</span
      >
      <tui-input
        tuiTextfieldSize="m"
        formControlName="driver"
        [tuiTextfieldLabelOutside]="true"
        [class.tui-skeleton]="isLoading$ | async"
      >
        Нет данных
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="driver"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <button
      tuiButton
      type="submit"
      [class.tui-skeleton]="isLoading$ | async"
      size="m"
      [showLoader]="isSubmitting$ | async"
      class="col-span-2 mt-3 sm:col-span-1"
    >
      Сохранить изменения
    </button>

    <div
      class="col-span-2 flex h-[50px] justify-center sm:col-span-1 sm:mt-3 sm:items-center sm:justify-start"
    >
      <a
        [routerLink]="['/account', 'profile', 'entity']"
        class="text-sm text-blue hover:text-blue-900"
        >Отменить</a
      >
    </div>
  </form>
</div>
