<div tuiCarouselButtons class="w-[442px] border border-transparent">
  <h3 class="text-3xl ml-5 mb-5">Примеры</h3>
  <div class="relative flex items-center sm:mb-7 lg:mb-0">
    <button
      tuiIconButton
      icon="tuiIconChevronLeftLarge"
      title="Previous"
      class="!absolute -left-1 top-20 z-10"
      (click)="carousel.prev()"
    ></button>
    <tui-carousel #carousel [(index)]="index">
      <ng-container *ngFor="let example of examples; let i = index">
        <div *tuiItem>
          <app-img
            [src]="'/assets/images/index/examples/task-' + (i + 1)"
            class="h-[200px] w-full rounded-md object-cover"
          ></app-img>
          <b class="text-md block mt-5 mb-5">{{ example.heading }}</b>
          <a type="button" class="hover:cursor-pointer">
            <tui-svg
              src="icons::help"
              class="mr-2.5 !h-[21px] !w-[22px]"
            ></tui-svg>
            <span
              class="border-b border-dotted text-xs text-gray-600 hover:border-b-0"
              >Как мы решили эту задачу</span
            >
          </a>
        </div>
      </ng-container>
    </tui-carousel>
    <button
      tuiIconButton
      icon="tuiIconChevronRightLarge"
      title="Next"
      class="!absolute -right-1 top-20"
      (click)="carousel.next()"
    ></button>
  </div>
  <div class="lg:hidden">
    <tui-pagination
      size="s"
      [length]="examples.length"
      [(index)]="index"
      (indexChange)="onIndex($event)"

    ></tui-pagination>
  </div>
</div>
