<div
  tuiCarouselButtons
  class="border border-transparent md:w-[370px] lg:w-[442px]"
>
  <h3 class="ml-5 mb-5 text-xl lg:text-3xl">Примеры</h3>
  <div class="relative flex items-center sm:mb-7 lg:mb-0">
    <button
      tuiIconButton
      icon="tuiIconChevronLeftLarge"
      title="Previous"
      class="!absolute -left-1 top-20 z-10 !hidden lg:!block"
      [class.cursor-not-allowed]="index === 0"
      [disabled]="index === 0"
      (click)="carousel.prev()"
    ></button>
    <tui-carousel #carousel [(index)]="index" [draggable]="true">
      <ng-container *ngFor="let example of examples; let i = index">
        <div *tuiItem>
          <app-img
            [src]="'/assets/images/index/examples/task-' + (i + 1)"
            class="h-[200px] w-full rounded-md object-cover"
          ></app-img>
          <b class="mt-5 mb-2 block text-md">{{ example.heading }}</b>
          <a routerLink="/services/complex-tasks">
            <tui-svg
              src="icons::help"
              class="mr-2.5 !h-[21px] !w-[22px]"
            ></tui-svg>
            <span
              class="border-b border-dotted text-xs text-gray-600 hover:border-b-0"
              >Как мы решили эту задачу</span
            >
          </a>
        </div>
      </ng-container>
    </tui-carousel>
    <button
      tuiIconButton
      icon="tuiIconChevronRightLarge"
      title="Next"
      class="!absolute -right-1 top-20 !hidden lg:!block"
      [class.cursor-not-allowed]="index === examples.length - 1"
      [disabled]="index === examples.length - 1"
      (click)="carousel.next()"
    ></button>
  </div>
  <div class="mt-7 lg:hidden">
    <tui-pagination
      size="s"
      [length]="examples.length"
      [(index)]="index"
      (indexChange)="onIndex($event)"
    ></tui-pagination>
  </div>
</div>
