<div
  class="mx-auto mt-10 flex min-h-[600px] max-w-[1170px] flex-col items-center justify-center px-4 text-center lg:mt-16"
>
  <img src="/assets/images/not-found.svg" class="w-full max-w-[400px]" />
  <h1 class="mb-1 mt-10 font-heading text-2xl font-bold lg:text-3xl">
    Cтраница не найдена!
  </h1>
  <p class="mb-10 text-sm">
    Возможно была допущена опечатка в названии или такой страницы не существует.
    <br class="hidden md:block" />
    Проверьте название страницы или перейдите
    <a routerLink="/" class="text-blue hover:opacity-80">на главную</a>
  </p>
</div>
