<form [formGroup]="form">
  <div
    *tuiLet="cargoTypes$ | async as cargoTypes"
    class="mt-10 mb-5 flex items-center"
  >
    <div class="mr-12 text-lg font-semibold">Тип груза:</div>
    <tui-radio-list
      orientation="horizontal"
      formControlName="activeType"
      [items]="cargoTypes"
      [itemContent]="cargoTypesContent"
    ></tui-radio-list>
    <ng-template #cargoTypesContent let-data>
      {{ data.name }}
    </ng-template>
  </div>
  activeCargoType: {{ form.get('activeType').value | json }}
  <label class="mb-3 block">
    <span class="mb-1 inline-block text-xs">Количество мест</span>
    <tui-input-count
      formControlName="cargo"
      [tuiTextfieldLabelOutside]="true"
      [min]="1"
      [max]="20"
    >
      <input tuiTextfield />
    </tui-input-count>
    <tui-error
      formControlName="cargo"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
</form>
