<ng-container *ngIf="points && points.length">
  <div
    class="absolute top-0 left-0 z-10 flex h-14 w-full items-center justify-between bg-white pl-4 shadow-sm"
  >
    <b class="text-sm text-gray-600">{{ points[0].name }}</b>
    <button
      type="button"
      tuiIconButton
      appearance="icon"
      icon="icons::close-2"
      (click)="close()"
    ></button>
    <!--  <tui-svg src="icons::close-2" class="!h-[22px] !w-[22px]"></tui-svg>-->
  </div>
  <app-map
    [latitude]="points[0].geo_x"
    [longitude]="points[0].geo_y"
    [points]="points"
    [disableScrollZoom]="disableScrollZoom"
    [showHint]="showHint"
    [showBalloon]="showBalloon"
    class="p-4"
  ></app-map>
</ng-container>
