<div [formGroup]="form">
  <ng-container formArrayName="parcels">
    <app-parcel
      *ngFor="let control of parcels.controls; let i = index"
      [formControlName]="i"
    >
      <button
        *ngIf="parcels.length > 1"
        type="button"
        (click)="deleteParcel(i)"
      >
        Delete
      </button>
    </app-parcel>
  </ng-container>
  <button
    type="button"
    size="m"
    tuiButton
    (click)="addParcel()"
    [disabled]="this.form.get('parcels').invalid"
  >
    Добавить еше 1 позицию
  </button>
</div>
