<form
  [formGroup]="form"
  [patchFormGroupValues]="formValues$ | async"
  class="mb-14"
>
  <h2 class="mb-6 text-lg font-semibold">Отправитель:</h2>
  <label class="mb-3 block">
    <span class="mb-1 inline-block text-xs">
      ФИО
      <sup
        class="text-red"
        *ngIf="form.get('fio').errors && form.get('fio').hasError('required')"
        >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="fio"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      formControlName="fio"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="mb-3 block">
    <span class="mb-1 inline-block text-xs">
      Документ
      <sup
        class="text-red"
        *ngIf="
          form.get('docType').errors && form.get('docType').hasError('required')
        "
        >*</sup
      >
    </span>
    <tui-select
      tuiTextfieldSize="m"
      formControlName="docType"
      [tuiTextfieldLabelOutside]="true"
    >
      <tui-data-list-wrapper
        *tuiDataList
        [items]="documents"
      ></tui-data-list-wrapper>
    </tui-select>
    <tui-error
      formControlName="docType"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="mb-3 block">
    <span class="mb-1 inline-block text-xs">
      Номер документа
      <sup
        class="text-red"
        *ngIf="
          form.get('docNumber').errors &&
          form.get('docNumber').hasError('required')
        "
        >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="docNumber"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      formControlName="docNumber"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="mb-3 block">
    <span class="mb-1 inline-block text-xs">
      Телефон
      <sup
        class="text-red"
        *ngIf="
          form.get('phone').errors && form.get('phone').hasError('required')
        "
        >*</sup
      >
    </span>
    <tui-input-phone
      formControlName="phone"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield autocomplete="tel" />
    </tui-input-phone>
    <tui-error
      formControlName="phone"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
</form>
