<h2 class="mb-6 text-lg font-semibold">
  Отправитель<span *ngIf="isEntity"> по доверенности</span>:
</h2>
<form
  [formGroup]="form"
  [patchFormGroupValues]="formValues$ | async"
  class="mb-14 grid gap-4 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:gap-5"
>
  <label class="block xl:col-span-2">
    <span class="mb-1 inline-block text-xs">
      ФИО
      <sup
        class="text-red"
        *ngIf="form.get('fio').errors && form.get('fio').hasError('required')"
        >*</sup
      >
    </span>
    <ng-container *ngIf="isEntity; else input">
      <ng-container *tuiLet="confidants$ | async as confidants">
        <tui-loader [showLoader]="isConfidantsLoading$ | async">
          <tui-select
            tuiTextfieldSize="m"
            formControlName="fio"
            [tuiTextfieldLabelOutside]="true"
          >
            <tui-data-list-wrapper
              *tuiDataList
              [items]="confidants"
            ></tui-data-list-wrapper>
          </tui-select>
        </tui-loader>
      </ng-container>
    </ng-container>
    <ng-template #input>
      <tui-input
        tuiTextfieldSize="m"
        formControlName="fio"
        [tuiTextfieldLabelOutside]="true"
      >
        <input tuiTextfield type="text" />
      </tui-input>
    </ng-template>
    <tui-error
      formControlName="fio"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="block" *ngIf="!form.get('docType').disabled">
    <span class="mb-1 inline-block text-xs">
      Документ
      <sup
        class="text-red"
        *ngIf="
          form.get('docType').errors && form.get('docType').hasError('required')
        "
        >*</sup
      >
    </span>
    <tui-select
      tuiTextfieldSize="m"
      formControlName="docType"
      [tuiTextfieldLabelOutside]="true"
    >
      <tui-data-list-wrapper
        *tuiDataList
        [items]="documents"
      ></tui-data-list-wrapper>
    </tui-select>
    <tui-error
      formControlName="docType"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="block" *ngIf="!form.get('docNumber').disabled">
    <span class="mb-1 inline-block text-xs">
      Номер документа
      <sup
        class="text-red"
        *ngIf="
          form.get('docNumber').errors &&
          form.get('docNumber').hasError('required')
        "
        >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="docNumber"
      [tuiTextfieldLabelOutside]="true"
      [textMask]="docMask"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      formControlName="docNumber"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="block">
    <span class="mb-1 inline-block text-xs">
      Телефон
      <sup
        class="text-red"
        *ngIf="
          form.get('phone').errors && form.get('phone').hasError('required')
        "
        >*</sup
      >
    </span>
    <tui-input-phone
      formControlName="phone"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield autocomplete="tel" />
    </tui-input-phone>
    <tui-error
      formControlName="phone"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
</form>
