<div class="mx-auto mt-10 max-w-[1170px] px-4 lg:mt-16">
  <h1 class="mb-5 font-heading text-2xl font-bold lg:text-3xl">
    О компании Bus-Курьер
  </h1>
  <div
    class="md:grid md:grid-cols-[1fr_345px] md:gap-x-10 lg:grid-cols-[1fr_420px] xl:grid-cols-[1fr_500px]"
  >
    <div
      class="col-span-full col-start-1 row-start-1 row-end-2 mb-7.5 lg:col-span-1"
    >
      <p class="mb-2.5 text-sm">
        Мы первая в России официальная служба сверхсрочной доставки грузов
        междугородними рейсовыми автобусами.
      </p>
      <p class="mb-2.5 text-sm">
        Мы не работаем по принципу "наборных грузов", а отправляем посылки в
        самое ближайшее время с момента оформления доставки. Это осуществляется
        за счет регулярного движения междугородних автобусов и наличию большого
        количества рейсов по многим направлениям.
      </p>
      <p class="text-sm">
        Филиалы нашей компании расположены в двух регионах страны: Приморский
        край и Республика Татарстан.
      </p>
    </div>
    <div class="col-start-1 col-end-2 row-start-2 row-end-3 mb-12">
      <b class="mb-5 block text-lg font-medium">Уникальность BUS-Курьер:</b>
      <ul>
        <li class="mb-3 flex space-x-3.5">
          <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
          <span class="text-sm">Скорость – доставка от 2 до 24 часов.</span>
        </li>
        <li class="mb-3 flex space-x-3.5">
          <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
          <span class="text-sm"
            >Доставка в труднодоступные населенные пункты в рамках региона,
            области, края.</span
          >
        </li>
        <li class="mb-3 flex space-x-3.5">
          <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
          <span class="text-sm"
            >Транспортировка различных категорий груза, за исключением опасных и
            запрещенных к перевозке.</span
          >
        </li>
        <li class="mb-3 flex space-x-3.5">
          <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
          <span class="text-sm"
            >Гарантия отправки в короткие сроки – регулярное движение
            междугородних маршрутов.</span
          >
        </li>
        <li class="mb-3 flex space-x-3.5">
          <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
          <span class="text-sm"
            >Удобство получения груза – гибкая система выдачи груза.</span
          >
        </li>
      </ul>
    </div>
    <div class="col-start-2 col-end-3 row-start-2 row-end-3 lg:row-start-1">
      <app-img
        [breakpoints]="{sm: true, md: true, lg: true}"
        class="h-[345px] w-full min-w-[345px] rounded-md object-cover lg:h-[420px] xl:h-[500px]"
        src="/assets/images/about/team"
      ></app-img>
    </div>
  </div>
</div>
