<div class="mx-auto mt-10 max-w-[1170px] px-4 lg:mt-16">
  <h1 class="mb-8 font-heading text-2xl font-bold lg:text-3xl">
    Вызвать курьера
  </h1>
  <div class="flex flex-col lg:flex-row lg:justify-between">
    <ol class="max-w-[540px]">
      <li>
        <div>
          <p class="mb-3">
            Убедитесь, что в нужном вам городе действует услуга «Вызов курьера».
          </p>
          <b>Список городов, где есть услуга «Вызов курьера»:</b>
          <ul class="mb-12 mt-4 max-w-[570px] text-sm">
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Владивосток (забор и доставка груза)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Артем (забор и доставка груза)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Уссурийск (забор и доставка груза)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Находка (забор и доставка груза)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Дальнегорск (только доставка по будням)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Спасск-Дальний (забор и доставка)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Арсеньев (только доставка)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Дальнереченск (только доставка)</span>
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span>Хабаровск (забор и доставка)</span>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <p>
          Вы можете оформить вызов курьера по номеру телефона<br
            class="hidden sm:block"
          />
          <a href="tel:8(423)2937879" class="link-blue mgo-number-30374"
            >8&nbsp;(423)&nbsp;293&nbsp;78&nbsp;79</a
          >
          или
          <a routerLink="/new-order" class="link-blue"
            >заполните заявку на сайте</a
          >. Наш менеджер свяжется с вами и проинформирует о стоимости и сроках
          доставки.
        </p>
      </li>
      <li>
        <p>
          По прибытию в пункт забора груза с вами свяжется наш курьер, заберет
          ваш груз и выдаст накладную заказа.
        </p>
      </li>
      <li>
        <p>
          Оплата производится только отправителем наличным или безналичным
          платежом.
        </p>
      </li>
      <li>
        <div>
          <p class="mb-4">Отследить доставку вашего груза вы можете:</p>
          <ul class="mb-12 mt-4 max-w-[570px] text-sm">
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span
                >на сайте, в разделе
                <a routerLink="/find-order" class="link-blue"
                  >«Отследить посылку»</a
                ></span
              >
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span
                >при отправлении посылки оформить дополнительную услугу
                «смс-уведомление отправителю»</span
              >
            </li>
            <li class="mb-3 flex space-x-3">
              <tui-svg src="icons::check" class="text-gray-500"></tui-svg>
              <span
                >позвонить по номеру телефона:
                <a href="tel:8(423)2937879" class="link-blue mgo-number-30374"
                  >8&nbsp;(423)&nbsp;293&nbsp;78&nbsp;79</a
                ></span
              >
            </li>
          </ul>
        </div>
      </li>
    </ol>
    <div *tuiLet="$doc | async as doc" class="lg:w-[370px] lg:flex-shrink-0">
      <!--       start media-->
      <div
        *ngIf="doc"
        class="flex max-w-[370px] items-center rounded-sm pt-6 pr-9 pb-8 pl-7 shadow-xl lg:sticky lg:top-24"
      >
        <tui-svg
          [src]="'icons::' + doc.type"
          class="mr-5 !h-[42px] !w-[42px] self-start"
        ></tui-svg>
        <div>
          <p class="mb-2.5 text-sm">{{ doc.name }}</p>
          <button
            type="button"
            class="link-blue"
            (click)="showPdf(doc, actions)"
          >
            <span><b class="font-medium">Открыть файл</b></span>
          </button>
        </div>
      </div>
      <!--        end media-->
    </div>
  </div>
</div>
<ng-template #actions let-content="content">
  <a tuiButton size="s" download [href]="content">Загрузить</a>
</ng-template>
