:host {
  @apply relative block grid w-full grid-cols-1;
  @apply md:h-[675px];
  @apply overflow-hidden;
}

.main-layout {
  @apply relative z-10 mx-auto mt-5 grid w-full max-w-[1170px] grid-cols-[repeat(2,minmax(100%,1fr))] grid-rows-[repeat(3,auto)_1fr_auto] gap-x-9 overflow-hidden
  px-4 transition-transform duration-300;
  @apply md:static md:-z-10 md:h-auto md:grid-cols-[400px_1fr_25px_1fr_65px] md:grid-rows-[repeat(2,auto)_450px] md:gap-2.5
  md:pt-9 md:pb-16;
  @apply xl:box-content xl:overflow-visible xl:pr-0 xl:pl-0;

  /*@apply active-details:h-screen*/
}
