<!--main-->
<div class="main-layout">
  <!--    tabs-->
  <div class="mb-6 flex">
    <button
      type="button"
      class="flex-grow border-b-2 p-5 text-center text-sm hover:opacity-80"
      [class]="
        activeTabIndex === 0
          ? 'border-yellow text-black'
          : 'border-gray-300 text-gray-700'
      "
      (click)="setActiveTabIndex(0)"
    >
      <span>На карте</span>
    </button>
    <button
      type="button"
      class="flex-grow border-b-2 p-5 text-center text-sm hover:opacity-80"
      [class]="
        activeTabIndex === 1
          ? 'border-yellow text-black'
          : 'border-gray-300 text-gray-700'
      "
      (click)="setActiveTabIndex(1)"
    >
      <span>Списком</span>
    </button>
  </div>
  <div class="mb-5 flex gap-[3px]">
    <button
      type="button"
      appearance="outline"
      class="min-w-14 flex flex-grow flex-col items-center rounded-sm border border-gray-400 px-3.5 pt-2.5 pb-3"
    >
      <tui-svg
        src="icons::location"
        class="!h-[18px] !w-[15px]"
        class="mb-0.5 text-black"
      ></tui-svg>
      <span class="text-4xs font-normal text-black sm:text-3xs"
        >Все адреса</span
      >
    </button>
    <button
      type="button"
      appearance="outline"
      class="min-w-14 flex flex-grow flex-col items-center rounded-sm border border-gray-400 px-3.5 pt-2.5 pb-3"
    >
      <tui-svg
        src="icons::give"
        class="!h-[18px] !w-[15px]"
        class="mb-0.5 text-black"
      ></tui-svg>
      <span class="text-4xs font-normal text-black sm:text-3xs"
        >Прием грузов</span
      >
    </button>
    <button
      type="button"
      appearance="outline"
      class="min-w-14 flex flex-grow flex-col items-center rounded-sm border border-gray-400 px-3.5 pt-2.5 pb-3"
    >
      <tui-svg
        src="icons::get"
        class="!h-[18px] !w-[15px]"
        class="mb-0.5 text-black"
      ></tui-svg>
      <span class="text-4xs font-normal text-black sm:text-3xs"
        >Выдача грузов</span
      >
    </button>
    <button
      type="button"
      appearance="outline"
      class="min-w-14 flex flex-grow flex-col items-center rounded-sm border border-gray-400 px-3.5 pt-2.5 pb-3"
    >
      <tui-svg
        src="icons::office"
        class="!h-[18px] !w-[15px]"
        class="mb-0.5 text-black"
      ></tui-svg>
      <span class="text-4xs font-normal text-black sm:text-3xs">Офис</span>
    </button>
  </div>
  <div class="mb-7">
    <tui-select
      tuiTextfieldSize="m"
      [formControl]="city"
      [tuiTextfieldLabelOutside]="true"
    >
      <tui-data-list-wrapper *tuiDataList [items]="[]"></tui-data-list-wrapper>
    </tui-select>
  </div>
  <div *ngIf="activeTabIndex === 0">
    <div class="relative h-96">
      <app-map [latitude]="0" [longitude]="0" [points]="[]"></app-map>
    </div>
  </div>
  <div *ngIf="activeTabIndex === 1">
    <tui-loader [showLoader]="false">
      <tui-scrollbar>
        <div
          class="mb-3.5 grid grid-cols-[1fr_repeat(3,auto)] grid-rows-[repeat(2,auto)] items-center gap-1.5"
        >
          <span
            class="relative col-start-1 col-end-2 row-start-1 row-end-2 justify-self-start text-sm text-blue before:absolute before:bottom-0 before:left-0 before:w-full before:border-b before:border-dashed before:border-blue hover:cursor-pointer"
            >Арсеньев</span
          >
          <p class="col-span-4 col-start-1 row-start-2 row-end-3">
            ул. Фрунзе 45/1, первый этаж
          </p>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::get"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-2 col-end-3 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::give"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-3 col-end-4 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::office"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-4 col-end-5 row-start-1 row-end-2"
          ></button>
        </div>
        <div
          class="mb-3.5 grid grid-cols-[1fr_repeat(3,auto)] grid-rows-[repeat(2,auto)] items-center gap-1.5"
        >
          <span
            class="relative col-start-1 col-end-2 row-start-1 row-end-2 justify-self-start text-sm text-blue before:absolute before:bottom-0 before:left-0 before:w-full before:border-b before:border-dashed before:border-blue hover:cursor-pointer"
            >Арсеньев</span
          >
          <p class="col-span-4 col-start-1 row-start-2 row-end-3">
            ул. Фрунзе 45/1, первый этаж
          </p>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::get"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-2 col-end-3 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::give"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-3 col-end-4 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::office"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-4 col-end-5 row-start-1 row-end-2"
          ></button>
        </div>
        <div
          class="mb-3.5 grid grid-cols-[1fr_repeat(3,auto)] grid-rows-[repeat(2,auto)] items-center gap-1.5"
        >
          <span
            class="relative col-start-1 col-end-2 row-start-1 row-end-2 justify-self-start text-sm text-blue before:absolute before:bottom-0 before:left-0 before:w-full before:border-b before:border-dashed before:border-blue hover:cursor-pointer"
            >Арсеньев</span
          >
          <p class="col-span-4 col-start-1 row-start-2 row-end-3">
            ул. Фрунзе 45/1, первый этаж
          </p>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::get"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-2 col-end-3 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::give"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-3 col-end-4 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::office"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-4 col-end-5 row-start-1 row-end-2"
          ></button>
        </div>
        <div
          class="mb-3.5 grid grid-cols-[1fr_repeat(3,auto)] grid-rows-[repeat(2,auto)] items-center gap-1.5"
        >
          <span
            class="relative col-start-1 col-end-2 row-start-1 row-end-2 justify-self-start text-sm text-blue before:absolute before:bottom-0 before:left-0 before:w-full before:border-b before:border-dashed before:border-blue hover:cursor-pointer"
            >Арсеньев</span
          >
          <p class="col-span-4 col-start-1 row-start-2 row-end-3">
            ул. Фрунзе 45/1, первый этаж
          </p>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::get"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-2 col-end-3 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::give"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-3 col-end-4 row-start-1 row-end-2"
          ></button>
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            icon="icons::office"
            tuiHint="Hello"
            tuiHintAppearance="onDark"
            size="xs"
            class="col-start-4 col-end-5 row-start-1 row-end-2"
          ></button>
        </div>
      </tui-scrollbar>
    </tui-loader>
  </div>
  <div
    class="mt-9 mb-14 grid grid-cols-1 gap-2.5 rounded-sm bg-yellow pt-4 pr-7 pb-6 pl-5 shadow-xl transition-all"
  >
    <p>Единая справочная для всего Приморского края:</p>
    <a href="tel:+7(423) 205-86-27">
      <tui-svg
        src="icons::headphone"
        class="mr-2.5 !h-[16px] !w-[19px]"
      ></tui-svg>
      <span class="text-sm font-medium">+7 (423) 205-86-27</span>
    </a>
    <a href="mailto:inbox@busbox.guru">
      <tui-svg src="icons::email" class="mr-2.5 !h-[16px] !w-[19px]"></tui-svg>
      <span class="border-b border-dashed border-black text-sm font-medium"
        >inbox@busbox.guru</span
      >
    </a>
  </div>
  <!--    actions-->
  <!--    select-->
  <!--    points-->
</div>
