<h1 class="mt-16 mb-3 font-heading text-2xl font-bold lg:text-3xl">
  Заявка на перевозку
</h1>

<p class="mb-10 text-xs text-gray-700">
  Заполните форму необходимыми данными и отправьте
</p>

<tui-stepper [activeItemIndex]="activeItemIndex" class="mb-14">
  <button tuiStep stepState="pass">Finished step</button>
  <button tuiStep>Simple step</button>
  <button tuiStep stepState="error">Error step</button>
  <button tuiStep disabled>Disabled step</button>
</tui-stepper>

<router-outlet></router-outlet>
