<h1 class="mt-16 mb-3 font-heading text-2xl font-bold lg:text-3xl">
  Заявка на перевозку
</h1>

<p class="mb-11 text-xs text-gray-700">
  Заполните форму необходимыми данными и отправьте
</p>

<ul class="stepper">
  <li class="stepper-item done">
    <div class="stepper-point" data-step="1">
      <tui-svg src="tuiIconCheckLarge"></tui-svg>
    </div>
    <span class="stepper-label">Автор заявки</span>
  </li>
  <li class="stepper-item invalid">
    <div class="stepper-point" data-step="2">
      <tui-svg src="tuiIconCheckLarge"></tui-svg>
    </div>
    <span class="stepper-label">Отправитель груза</span>
  </li>
  <li class="stepper-item success">
    <div class="stepper-point" data-step="3">
      <tui-svg src="tuiIconCheckLarge"></tui-svg>
    </div>
    <span class="stepper-label">Параметры груза</span>
  </li>
  <li class="stepper-item before:hidden after:hidden">
    <div class="stepper-point" data-step="4">
      <tui-svg src="tuiIconCheckLarge"></tui-svg>
    </div>
    <span class="stepper-label">Завершение</span>
  </li>
</ul>

<router-outlet></router-outlet>
