<article class="relative min-w-[370px] bg-yellow p-8 md:rounded-md">
  <div class="absolute top-1.5 right-1.5 pt-2 pr-2">
    <button
      type="button"
      class="rounded-md bg-transparent text-gray-600 hover:text-gray-900 focus:outline-none"
      (click)="onClose()"
    >
      <tui-svg src="icons::close-2" class="!h-[22px] !w-[22px]"></tui-svg>
    </button>
  </div>
  <h1 class="text-bold mb-5 mt-5 text-center font-heading text-2xl">
    Авторизация
  </h1>
  <div>
    <app-backend-error-messages
      *ngIf="backendErrors$ | async"
      [backendErrors]="backendErrors$ | async"
    ></app-backend-error-messages>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="mb-3 block">
      <span class="mb-1 inline-block text-xs">Email</span>
      <tui-input
        tuiTextfieldSize="m"
        formControlName="email"
        [tuiTextfieldLabelOutside]="true"
      >
        Email
        <input tuiTextfield type="text" (focus)="clearValidationErrors()" />
      </tui-input>
      <tui-error
        formControlName="email"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label class="mb-5 block">
      <span class="mb-1 inline-block text-xs">Пароль</span>
      <tui-input-password
        formControlName="password"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        Password
        <input
          tuiTextfield
          placeholder="Make it secure!"
          (focus)="clearValidationErrors()"
        />
      </tui-input-password>
      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <div>
      <button
        tuiButton
        type="submit"
        appearance="accent"
        class="min-w-full"
        [ngClass]="
          (isSubmitting$ | async) || (form.invalid && form.touched)
            ? 'cursor-not-allowed'
            : ''
        "
        [disabled]="(isSubmitting$ | async) || (form.invalid && form.touched)"
        [showLoader]="isSubmitting$ | async"
        size="m"
      >
        Авторизоваться
      </button>
    </div>
  </form>
</article>
