<form [formGroup]="form">
  <label class="w-full" *tuiLet="isCitiesLoading$ | async as isCitiesLoading">
    <b *ngIf="boldCityLabel; else normal" class="mb-3.5 block text-lg">
      Куда
      <sup class="text-red" *ngIf="city.errors && city.hasError('required')"
        >*</sup
      >
    </b>
    <ng-template #normal>
      <span class="mb-1 inline-block text-xs text-gray-500">
        Населенный пункт
        <sup class="text-red" *ngIf="city.errors && city.hasError('required')"
          >*</sup
        >
      </span>
    </ng-template>
    <ng-container *tuiLet="cities$ | async as cities">
      <tui-loader [showLoader]="isCitiesLoading">
        <tui-combo-box
          tuiTextfieldSize="m"
          [formControl]="city"
          [setControlValue]="cityValues$ | async"
          [tuiTextfieldLabelOutside]="true"
          [tuiTextfieldCleaner]="true"
          (searchChange)="onSearchChange($event)"
        >
          {{ isCitiesLoading ? '' : 'Выберите город' }}
          <tui-data-list-wrapper
            *tuiDataList
            [items]="cities"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </tui-loader>
    </ng-container>
    <tui-error
      [formControl]="city"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <ng-container *ngIf="city.value">
    <ng-container *tuiLet="isOfficesLoading$ | async as isOfficesLoading">
      <ng-container *tuiLet="offices$ | async as offices">
        <ng-container *tuiLet="tabs$ | async as tabs">
          <ng-container *tuiLet="activeTab$ | async as activeTab">
            <div class="mb-5">
              <tui-loader
                *ngIf="isOfficesLoading || tabs?.length"
                [showLoader]="isOfficesLoading"
              >
                <div
                  class="mt-4 flex h-12.5 bg-gray-50 [&>button:first-child]:rounded-tl-sm [&>button:first-child]:rounded-bl-sm [&>button:last-child]:rounded-tr-sm [&>button:last-child]:rounded-br-sm"
                >
                  <button
                    *ngFor="let tab of tabs"
                    type="button"
                    class="radius flex-grow py-3 px-1 text-center text-xs"
                    [class]="
                      activeTab === tab && !isOfficesLoading
                        ? 'bg-yellow'
                        : 'bg-gray-100'
                    "
                    [class.bg-gray-100]="form.disabled"
                    [class.text-gray-400]="form.disabled"
                    [class.pointer-events-none]="form.disabled"
                    (click)="setActiveTab(tab)"
                  >
                    <span *ngIf="!isOfficesLoading">{{ TabName[tab] }}</span>
                  </button>
                </div>
              </tui-loader>
            </div>
            <div *ngIf="activeTab === 'get' && !isOfficesLoading">
              <label class="w-full">
                <span class="mb-1 inline-block text-xs">
                  Выберите отделение
                  <sup
                    class="text-red"
                    *ngIf="get.errors && get.hasError('required')"
                    >*</sup
                  >
                </span>
                <tui-loader [showLoader]="isOfficesLoading">
                  <tui-select
                    tuiTextfieldSize="m"
                    [formControl]="get"
                    [setControlValue]="getValues$ | async"
                    [tuiTextfieldLabelOutside]="true"
                  >
                    <tui-data-list-wrapper
                      *tuiDataList
                      [items]="offices"
                    ></tui-data-list-wrapper>
                  </tui-select>
                </tui-loader>
                <tui-error
                  [formControl]="get"
                  [error]="[] | tuiFieldError | async"
                ></tui-error>
              </label>
              <button
                *ngIf="get.value"
                type="button"
                class="mt-4 text-left"
                [class.pointer-events-none]="form.disabled"
                (click)="showMap()"
              >
                <tui-svg
                  src="icons::map"
                  class="mr-2.5 !h-[16px] !w-[16px]"
                ></tui-svg>
                <span
                  class="border-b border-dotted text-xs text-gray-700 hover:border-b-0"
                  [class.text-gray-300]="form.disabled"
                  >Посмотреть на карте</span
                >
              </button>
            </div>
            <div
              *ngIf="activeTab === 'delivery' && !isOfficesLoading"
              class="mb-4 space-y-4"
            >
              <app-courier
                [formControl]="delivery"
                [setControlValue]="deliveryValues$ | async"
              ></app-courier>
            </div>
            <div *ngIf="activeTab === 'meet' && !isOfficesLoading">
              <tui-checkbox-labeled
                [formControl]="needToMeet"
                [setControlValue]="needToMeetValues$ | async"
                [readOnly]="true"
                class="pointer-events-none"
              >
                Встретить с автобуса
              </tui-checkbox-labeled>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
