.checkbox-name {
  font-size: 16px;
  line-height: 100%;
}

.checkbox-name::first-letter {
  display: block;
  text-transform: uppercase;
  @apply text-red;
}

.checkbox-label {
  font-size: 14px;
  line-height: 20px;
  @apply text-gray-700
}
