.checkbox-name {
  font-size: 16px;
  line-height: 100%;
}

.checkbox-name:first-letter {
  @apply text-red;
  text-transform: uppercase;
}

.checkbox-label {
  font-size: 14px;
  line-height: 20px;
  @apply text-gray-700
}
