[type='text']:focus, [type='email']:focus, [type='url']:focus,
[type='password']:focus, [type='number']:focus, [type='date']:focus,
[type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus,
[type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus  {
  --tw-ring-color: transparent;
  --tw-ring-offset-shadow: none;
  --tw-ring-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

[tuiWrapper][data-appearance='textfield']:invalid:invalid,
[tuiWrapper][data-appearance='textfield']._invalid._invalid {
  --tui-focus: var(--tui-error-fill-night) !important;
}

/*[tuiWrapper][data-appearance='textfield']._invalid {*/
/*  @apply border-red*/
/*}*/
