.link-blue {
  @apply relative leading-6 text-blue before:absolute before:left-0 before:bottom-0 before:w-full before:border-b
  before:border-dashed before:border-blue hover:cursor-pointer hover:opacity-80 hover:before:hidden
}
