.t-dialog {
  @apply flex justify-center items-center print:bg-white;
}

tui-dialog {
  @apply print:!rounded-none md:!rounded-md;
}

tui-dialog > .t-content {
  @apply !p-0 print:!rounded-none md:!rounded-md;
  @apply print:!shadow-none;
}

/*tui-dialog .t-content {*/
/*  padding: 0 !important;*/
/*  border-radius: 0.625rem !important;*/
/*}*/
