[tuiWrapper][data-appearance='textfield'] {
  box-shadow: none;
}

[tuiWrapper][data-appearance='textfield']._focused._focused {
  /*box-shadow: none;*/
  --tui-focus: var(--tui-primary);
  /*--tui-focus: yellow;*/
}

[tuiWrapper]:disabled:disabled,
[tuiWrapper][data-state='disabled'][data-state='disabled'] {
  background-color: var(--tui-base-02);
}

[tuiWrapper][data-appearance='textfield']:invalid:invalid,
[tuiWrapper][data-appearance='textfield']._invalid._invalid {
  background-color: rgba(199, 65, 65, 0.5);
  color: var(--tui-base-01);
}

[tuiWrapper][data-appearance='textfield']:invalid:invalid .t-postfix,
[tuiWrapper][data-appearance='textfield']._invalid._invalid .t-postfix {
  color: var(--tui-base-01);
}



/*._disabled {*/
/*  pointer-events: auto !important;*/
/*}*/

._readonly {
  pointer-events: auto !important;
}

._readonly tui-checkbox,
._readonly .checkbox-name,
._readonly .checkbox-label {
  filter: grayscale(1);
  opacity: 0.4;
}

._readonly:hover tui-checkbox,
._readonly:hover .checkbox-name,
._readonly:hover .checkbox-label {
  opacity: 0.7;
  cursor: pointer;
}

tui-checkbox[data-size='m'],
tui-primitive-checkbox[data-size='m'] {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

tui-radio[data-size='m'] {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

tui-radio[data-size='m'] .t-mark {
  width: 0.75rem !important;
  height: 0.75rem !important;
}

tui-radio-labeled[data-size='m'] {
  line-height: 1.25rem !important;
}

tui-checkbox-labeled[data-size='m'] .t-content {
  line-height: 1.25rem !important;
}


[data-tui-host-orientation=horizontal] .t-group {
  @apply flex-wrap
}

[data-tui-host-orientation=horizontal] .t-group tui-radio-labeled {
  @apply !ml-0 !mr-4 mt-3 min-w-[135px]
}
