[tuiWrapper][data-appearance='textfield'] {
  box-shadow: none;
}

[tuiWrapper][data-appearance='textfield']._focused._focused {
  /*box-shadow: none;*/
  --tui-focus: var(--tui-primary);
  /*--tui-focus: yellow;*/
}

[tuiWrapper]:disabled:disabled,
[tuiWrapper][data-state='disabled'][data-state='disabled'] {
  background-color: var(--tui-base-02);
}

[tuiWrapper][data-appearance='textfield']:invalid:invalid,
[tuiWrapper][data-appearance='textfield']._invalid._invalid {
  background-color: rgba(199, 65, 65, 0.05);
}
