[tuiWrapper][data-appearance='textfield'] {
  box-shadow: none;
}

[tuiWrapper][data-appearance='textfield']._focused._focused {
  /*box-shadow: none;*/
  --tui-focus: var(--tui-primary);
  /*--tui-focus: yellow;*/
}

[tuiWrapper]:disabled:disabled,
[tuiWrapper][data-state='disabled'][data-state='disabled'] {
  background-color: var(--tui-base-02);
}

[tuiWrapper][data-appearance='textfield']:invalid:invalid,
[tuiWrapper][data-appearance='textfield']._invalid._invalid {
  background-color: rgba(199, 65, 65, 0.05);
}

/*._disabled {*/
/*  pointer-events: auto !important;*/
/*}*/

._readonly {
  opacity: 0.5;
  pointer-events: auto !important;
}

._readonly tui-checkbox,
._readonly p,
._readonly span {
  filter: grayscale(1);
}

._readonly:hover tui-checkbox,
._readonly:hover p,
._readonly:hover span {
  opacity: 1;
  cursor: pointer;
}

tui-checkbox[data-size='m'],
tui-primitive-checkbox[data-size='m'] {
  width: 1.25rem !important;
  height: 1.25rem !important;
}
