ymaps[class*='copyright'] {
  @apply hidden;
}
ymaps[class*='map-copyrights-promo'] {
  @apply hidden;
}

[class*='ymaps-2'][class*='-ground-pane'] {
  filter: grayscale(1) brightness(0.9);
}

ymaps[class*='controls-pane'] {
  display: none;
}
