table th {
  font-size: 15px;
  border: none;
  border-bottom: 3px solid var(--tui-primary);
  color: var(--tui-base-09);
  white-space: nowrap;
}

table td {
  font-size: 14px;
  border: none;
  white-space: nowrap;
}

table td:nth-of-type(4) {
  white-space: unset;
  min-width: 250px;
}

table tr:nth-child(even) td {
  background-color: var(--tui-base-02);
}
