<div class="mx-auto mt-10 max-w-[1170px] px-4 lg:mt-16">
  <div class="max-w-[770px]">
    <h1 class="mt-10 mb-1 font-heading text-2xl font-bold lg:mt-20 lg:text-3xl">
      Отследить посылку по номеру заказа
    </h1>
    <p class="mb-10 text-sm">
      Вам доступна вся история движения посылки. Чтобы воспользоваться поиском,
      введите номер вашего заказа и нажмите кнопку “Найти посылку”.
    </p>

    <ng-container *tuiLet="isStatusesLoading$ | async as isStatusesLoading">
      <form
        [formGroup]="form"
        class="grid grid-cols-[1fr_270px] gap-4"
        (ngSubmit)="onSubmit()"
      >
        <tui-input
          tuiTextfieldSize="m"
          [formControl]="orderNumber"
          [tuiTextfieldLabelOutside]="true"
        >
          <input tuiTextfield type="text" />
        </tui-input>
        <button
          tuiButton
          type="submit"
          size="m"
          [showLoader]="isStatusesLoading"
        >
          Найти посылку
        </button>
        <div>
          <span><sup>*</sup>7 символов</span>
          <span>Пример: 878581</span>
        </div>
      </form>

      <tui-loader [showLoader]="isStatusesLoading">
        <div [class.opacity-0]="isStatusesLoading">
          <ul *ngIf="statuses$ | async as statuses" class="timeline">
            <li class="timeline-item" *ngFor="let status of statuses">
              <time
                class="timeline-meta col-start-3 col-end-4 row-start-1 row-end-2 mr-[5px] text-gray-500"
              >
                {{ formatDate(status.serverdate) }}
              </time>
              <div
                class="timeline-meta col-start-4 col-end-5 row-start-1 row-end-2"
              >
                Заказ № {{ orderNumber.value }}
              </div>
              <div
                class="timeline-status timeline-status--{{
                  Status[status.charcode]
                }}"
              >
                {{ status.lk_name }}
              </div>
            </li>
          </ul>
        </div>
      </tui-loader>
    </ng-container>
  </div>
</div>
