:host {
  @apply mx-auto mt-10 block max-w-[1170px] px-4 lg:mt-16;
}

.timeline {
  @apply mt-6 border-t border-gray-300 pt-10;
}

.timeline-item {
  @apply relative grid grid-cols-[5px_21px_repeat(2,auto)] items-center justify-start gap-y-[5px];
  @apply sm:grid-cols-[5px_32px_repeat(2,auto)_32px_auto] sm:gap-y-0;

  @apply before:col-start-1 before:col-end-2 before:row-start-1 before:row-end-2
  before:h-1.5 before:w-1.5 before:rounded-full before:bg-gray-300;
}

.timeline-item:not(:first-child) {
  @apply mt-9;
  @apply after:absolute after:left-[2px] after:bottom-12 after:h-[92px] after:w-[1px] after:bg-gray-300;
  @apply sm:after:bottom-4 sm:after:h-[66px];
}

.timeline-meta {
  @apply text-md font-medium leading-[25.2px];
}

.timeline-status {
  @apply col-start-3 col-end-4 row-start-2 row-end-3 block border border-transparent py-1.5 px-2.5 text-2xs;
  @apply sm:col-start-6 sm:col-end-7 sm:row-start-1 sm:row-end-2;
}

.timeline-status--yellow {
  @apply border-yellow bg-yellow-100;
}

.timeline-status--blue {
  @apply border-blue bg-blue-100;
}

.timeline-status--pink {
  @apply border-red bg-red-100;
}
