<div [formGroup]="form">
  <div *ngIf="boxes.length" formArrayName="boxes">
    <div class="mb-5">Коробки:</div>
    <div class="mb-10 flex flex-wrap gap-4">
      <ng-container
        *ngFor="let box of boxes.controls; let i = index"
        [formGroup]="box"
      >
        <div class="">
          {{
            closeDialog(
              getControl(box.get('count')),
              getControl(box.get(box.get('data').value.id))
            )
          }}
          <tui-checkbox-labeled
            [formControlName]="box.get('data').value.id"
            (change)="
              openDialog(
                getControl(box.get(box.get('data').value.id)),
                template
              )
            "
          >
            <div class="relative inline">
              <button
                *ngIf="getControl(box.get(box.get('data').value.id)).disabled"
                type="button"
                class="absolute -top-3 -right-3 text-red"
                (click)="
                  clear(
                    $event,
                    getControl(box.get('count')),
                    getControl(box.get(box.get('data').value.id))
                  )
                "
              >
                <tui-svg
                  src="tuiIconClose"
                  class="h-[10px] !w-[10px]"
                ></tui-svg>
              </button>
              <span class="first-letter:uppercase">{{
                box.get('data').value.site_name
              }}</span>
            </div>
            <div class="mt-1.5 text-gray-700">
              {{
                box.get('data').value.price * getControl(box.get('count')).value
              }}
              руб. за {{ getControl(box.get('count')).value }} шт.
              <small
                *ngIf="getControl(box.get(box.get('data').value.id)).disabled"
                class="mt-1 block text-[10px] text-red"
                (click)="
                  openDialog(
                    getControl(box.get(box.get('data').value.id)),
                    template
                  )
                "
                >изменить</small
              >
            </div>
          </tui-checkbox-labeled>
        </div>
        <ng-template #template let-observer>
          <article>
            <h1 class="text-lg font-medium">
              {{ box.get('data').value.short_name }} ({{
                box.get('data').value.site_name
              }})
            </h1>
            <p class="mb-4 text-sm">{{ box.get('data').value.property }}</p>
            <div class="flex items-end space-x-2">
              <label class="block flex-grow">
                <span class="mb-1 inline-block text-xs">Сколько штук?</span>
                <tui-input-count
                  [formControl]="getControl(box.get('count'))"
                  [tuiTextfieldLabelOutside]="true"
                  [min]="1"
                  [max]="20"
                >
                  <input tuiTextfield />
                </tui-input-count>
              </label>
              <button
                type="button"
                tuiButton
                (click)="
                  observer.complete();
                  closeDialog(
                    getControl(box.get('count')),
                    getControl(box.get(box.get('data').value.id))
                  )
                "
              >
                Ok
              </button>
            </div>
          </article>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
<button type="button" (click)="open()" tuiButton>Open</button>
