<form [formGroup]="form">
  <label class="mb-3 block">
    <span class="mb-1 inline-block text-xs">Населенный пункт</span>
    <tui-input
      tuiTextfieldSize="m"
      tuiAutoFocus
      [formControl]="search"
      [tuiTextfieldLabelOutside]="true"
      [tuiTextfieldCleaner]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>
  </label>
</form>

<ng-container *tuiLet="isLoading$ | async as isLoading">
  <ng-container *tuiLet="searchResult$ | async as searchResult">
    <tui-loader [showLoader]="isLoading">
      <tui-scrollbar *ngIf="searchResult && !isLoading">
        <div class="">cities {{ searchResult | json }}</div>
      </tui-scrollbar>
    </tui-loader>
  </ng-container>
</ng-container>
