<!--<ng-container *tuiLet="isLoading$ | async as isLoading">-->
<!--  <tui-loader [showLoader]="isLoading">-->
<!--    <div *ngIf="cities && !isLoading" class="">cities {{ cities | json }}</div>-->
<!--    <tui-scrollbar> </tui-scrollbar>-->
<!--  </tui-loader>-->
<!--</ng-container>-->

<form [formGroup]="form">
  <label class="mb-3 block">
    <span class="mb-1 inline-block text-xs">Населенный пункт</span>
    <tui-input
      tuiTextfieldSize="m"
      [formControl]="search"
      [tuiTextfieldLabelOutside]="true"
      [tuiTextfieldCleaner]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>
  </label>
</form>

cities {{ cities$ | async | json }}
