<div
  [formGroup]="form"
  class="relative mb-5 mt-8 rounded-sm border border-gray-100 p-5 before:absolute before:-top-2.5 before:left-5 before:block before:bg-white before:pl-0.5 before:pr-0.5 before:text-xs before:font-medium before:text-gray-600 before:content-['Посылка'] sm:border-0 sm:p-0 sm:before:hidden md:border md:p-5 md:before:block xl:border-0 xl:p-0 xl:before:hidden"
>
  <div
    class="mb-2 grid grid-cols-2 gap-4 sm:grid-cols-parcel md:grid-cols-2 lg:mb-0.5 lg:grid-cols-3 xl:grid-cols-parcel"
  >
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Кол-во мест
        <sup class="text-red" *ngIf="count.errors && count.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="count"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="100"
        [pseudoInvalid]="!!(count.invalid && form.touched)"
      >
        <input tuiTextfield (blur)="onTouched()" />
      </tui-input-number>
    </label>
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Вес
        <sup
          class="text-red"
          *ngIf="weight.errors && weight.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="weight"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [pseudoInvalid]="
          !!(
            (weight.invalid && form.touched) ||
            (form.errors && form.errors['weight'])
          )
        "
        postfix="кг"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Ширина
        <sup class="text-red" *ngIf="width.errors && width.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="width"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="250"
        [pseudoInvalid]="
          !!(
            (width.invalid && form.touched) ||
            (form.errors && form.errors['dimensions'])
          )
        "
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Высота
        <sup class="text-red" *ngIf="height.errors && form.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="height"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="250"
        [pseudoInvalid]="
          !!(
            (height.invalid && form.touched) ||
            (form.errors && form.errors['dimensions'])
          )
        "
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Длина
        <sup
          class="text-red"
          *ngIf="length.errors && length.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="length"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="250"
        [pseudoInvalid]="
          !!(
            (length.invalid && form.touched) ||
            (form.errors && form.errors['dimensions'])
          )
        "
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <div class="mt-6 flex flex-col justify-center">
      <ng-content select="button"></ng-content>
    </div>
  </div>
  <tui-error
    [formGroup]="form"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
</div>
