<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="items-bottom mb-8 flex flex-col gap-4 px-4 sm:flex-row sm:flex-wrap md:mb-9 lg:mb-20 lg:flex-nowrap lg:pt-4 lg:pr-7 lg:pb-9 lg:pl-10 lg:shadow-md"
>
  <label class="lg:shrink-1 flex-grow">
    <span class="mb-1 inline-block text-xs text-gray-500">Период:</span>
    <tui-input-date-range
      tuiUnfinishedValidator="Заполните данные"
      formControlName="range"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield placeholder="От - до" />
    </tui-input-date-range>
  </label>
  <label class="lg:shrink-2 flex-grow">
    <span class="mb-1 inline-block text-xs text-gray-500">Статус:</span>
    <tui-loader>
      <tui-select
        tuiTextfieldSize="m"
        formControlName="status"
        [tuiTextfieldLabelOutside]="true"
      >
        <tui-data-list-wrapper
          *tuiDataList
          [items]="statuses"
        ></tui-data-list-wrapper>
      </tui-select>
    </tui-loader>
  </label>
  <button
    tuiButton
    type="submit"
    [showLoader]="false"
    size="m"
    class="flex-grow sm:mt-auto sm:flex-grow-0 sm:basis-[210px]"
  >
    Показать
  </button>
</form>
