<div [formGroup]="form" class="mt-5">
  <ng-container formArrayName="services">
    <div
      *ngFor="let service of services.controls"
      [formGroup]="service"
      class="mb-5"
    >
      <tui-checkbox-labeled
        [formControlName]="service.get('data').value.id"
        (change)="
          toggleService(
            service.get(service.get('data').value.id),
            service.get('sum') || service.get('phone')
          )
        "
        class="mb-2"
      >
        {{ service.get('data').value.name }}
      </tui-checkbox-labeled>
      <label
        *ngIf="
          service.get('phone') &&
          service.get(service.get('data').value.id).value
        "
      >
        <span>
          Номер телефона
          <sup
            class="text-red"
            *ngIf="
              service.get('phone').errors &&
              service.get('phone').hasError('required')
            "
            >*</sup
          >
        </span>
        <tui-input-phone
          formControlName="phone"
          tuiTextfieldSize="m"
          [tuiTextfieldLabelOutside]="true"
        >
          <input tuiTextfield autocomplete="tel" />
        </tui-input-phone>
      </label>
      <label
        *ngIf="
          service.get('sum') && service.get(service.get('data').value.id).value
        "
      >
        <span>
          Объявленная ценность
          <sup
            class="text-red"
            *ngIf="
              service.get('sum').errors &&
              service.get('sum').hasError('required')
            "
            >*</sup
          >
        </span>
        <tui-input-number
          formControlName="sum"
          tuiTextfieldSize="m"
          [tuiTextfieldLabelOutside]="true"
        >
        </tui-input-number>
      </label>
    </div>
  </ng-container>
</div>

<button tuiButton (click)="open()">Services form</button>
