@layer base {
  body {
    font: unset;
    @apply font-base text-base font-normal text-gray;
  }

  img {
    /*width: 100%;*/
  }
}

@media print {
  @page {
    size: auto; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
  }

  html {
    background-color: #ffffff;
    margin: 0px; /* this affects the margin on the html before sending to printer */
  }

  body {
    border: solid 0px blue;
    margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
  }
}
