<ul class="mb-8 max-w-[520px] space-y-2">
  <li class="flex justify-between items-baseline gap-1
   after:basis-full after:h-1 after:border-b after:border-gray-500 after:order-2 after:border-dotted">
    <span class="order-1">ФИО:</span>
    <span class="order-3 flex-shrink-0">Петров Иван александрович</span>
  </li>
  <li class="flex justify-between items-baseline gap-1
   after:basis-full after:h-1 after:border-b after:border-gray-500 after:order-2 after:border-dotted">
    <span class="order-1">ФИО:</span>
    <span class="order-3 flex-shrink-0">Петров Иван александрович</span>
  </li>
  <li class="flex justify-between items-baseline gap-1
   after:basis-full after:h-1 after:border-b after:border-gray-500 after:order-2 after:border-dotted">
    <span class="order-1">ФИО:</span>
    <span class="order-3 flex-shrink-0">Петров Иван александрович</span>
  </li>
  <li class="flex justify-between items-baseline gap-1
   after:basis-full after:h-1 after:border-b after:border-gray-500 after:order-2 after:border-dotted">
    <span class="order-1">ФИО:</span>
    <span class="order-3 flex-shrink-0">Петров Иван александрович</span>
  </li>
</ul>
<button tuiButton type="button" appearance="accent" size="m">Изменить данные</button>
