<div>
  <app-sender #sender></app-sender>
  <app-start-point #start></app-start-point>
</div>

StartValid {{ start.form.valid }}
senderValid {{ sender.form.valid }}

<div class="mt-5 flex justify-between">
  <button
    [routerLink]="['/new-order', 'checkout']"
    type="button"
    tuiButton
    size="m"
    appearance="secondary"
  >
    Назад
  </button>
  <button
    [routerLink]="['/new-order', 'checkout', '2']"
    type="submit"
    tuiButton
    size="m"
  >
    Дальше
  </button>
</div>
