<div>
  <app-sender #sender></app-sender>
  <h2 class="mb-6 text-lg font-semibold">Пункт отправления:</h2>
  <app-start-point #start></app-start-point>
</div>

<div class="mt-5 flex justify-between" *tuiLet="isEntity$ | async as isEntity">
  <button
    *ngIf="!isEntity"
    [routerLink]="['/new-order', 'checkout']"
    type="button"
    tuiButton
    size="m"
    appearance="secondary"
    [disabled]="isEntity"
  >
    Назад
  </button>
  <button
    [routerLink]="['/new-order', 'checkout', '2']"
    type="submit"
    tuiButton
    size="m"
    [disabled]="!isCurrentStepValid"
    class="ml-auto"
  >
    Дальше
  </button>
</div>
