<article class="bg-yellow">
  <div
    class="relative mx-auto flex max-w-[1170px] items-center justify-center p-4"
  >
    <!--    <tui-loader [showLoader]="isLoading$ | async">-->
    <!--      -->
    <!--    </tui-loader>-->
    <swiper [config]="config" class="swiper">
      <ng-template swiperSlide *ngFor="let article of news$ | async as news">
        <div class="text-center">
          <a
            routerLink="/news"
            [queryParams]="{id: article.news_id}"
            class="text-center font-base text-sm text-black hover:underline hover:underline-offset-2 sm:text-md"
          >
            {{ article.title }}
          </a>
        </div>
      </ng-template>
    </swiper>
    <button type="button" class="absolute right-4">
      <tui-svg src="icons::close-2"></tui-svg>
    </button>
  </div>
</article>
