<article class="bg-yellow">
  <div
    class="relative mx-auto flex max-w-[1170px] items-center justify-center h-13 px-4">
    <!--    <tui-loader [showLoader]="isLoading$ | async">-->
    <!--      -->
    <!--    </tui-loader>-->
    <ng-container *tuiLet="news$ | async as news">
      <div class="relative contents before:absolute before:top-0 before:right-0 before:max-w-sm before:h-full before:bg-yellow
        before:opacity-30 before:z-20">
        <swiper *ngIf="news.length" #swiperRef [config]="config" (slideChange)="onSlideChange($event)" class="swiper">
          <ng-template swiperSlide *ngFor="let article of news">
            <div class="text-center">
              <a
                routerLink="/news"
                [queryParams]="{id: article.news_id}"
                class="text-center font-base text-xs
               text-black opacity-50 hover:opacity-100
               transition-all duration-300 line-clamp-1"
              >
                {{ article.title }}
              </a>
            </div>
          </ng-template>
        </swiper>
      </div>
      <ng-container *tuiLet="activeSlideIndex$ | async as index">
        <ng-container *ngIf="news.length">
          <a *ngIf="news[index - 1] as newsItem"
             routerLink="/news"
             [queryParams]="{id: newsItem.news_id}"
             class="block ml-4 shrink-0 font-base text-xs
               text-black underline underline-offset-2 hover:no-underline
               transition-all duration-300"
          >Читать новость</a>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</article>
