<div class="mx-auto mt-10 max-w-[1170px] px-4 lg:mt-16">
  <h1 class="mb-3 font-heading text-2xl font-bold lg:text-3xl">
    Работа в команде Bus-Курьер
  </h1>
  <div class="mb-10 flex space-x-28 text-sm">
    <p class="flex-grow">
      Bus-Курьер - это единственная в России официальная служба сверхсрочной
      доставки грузов междугородними рейсовыми автобусами!
    </p>
    <b class="flex-shrink-0 text-lg font-medium">Мы работаем с 2013 года</b>
  </div>
</div>
<div class="bg-yellow">
  <div
    class="mx-auto flex max-w-[1170px] flex-col items-center px-4 pt-12 md:flex-row md:items-start md:justify-center md:space-x-18 lg:space-x-32 xl:justify-start xl:space-x-28 xl:pt-0"
  >
    <div
      class="mb-12 flex flex-col bg-[url('src/assets/images/career/achievements/icon-1.svg')] bg-[length:86px_94px] bg-[left_190px_bottom_58px] bg-no-repeat sm:mr-auto md:mr-0 lg:mb-0 lg:h-36 lg:flex-row lg:items-center lg:space-x-12 lg:bg-[length:120px_134px] lg:bg-center xl:h-52 xl:bg-[length:150px_164px]"
    >
      <span class="mb-1.5 block h-[82px] font-heading text-[82px] leading-tight"
        >8</span
      >
      <p class="text-[24px] leading-8">
        лет работы<br />
        на рынке грузоперевозок
      </p>
    </div>
    <div
      class="flex flex-col bg-[url('src/assets/images/career/achievements/icon-2.svg')] bg-[length:86px_94px] bg-[left_220px_top_80px] bg-no-repeat pb-12 sm:ml-auto md:ml-0 xl:h-52 xl:flex-row xl:items-center xl:space-x-8 xl:bg-[length:145px_145px] xl:bg-center xl:pb-0"
    >
      <span
        class="mb-1.5 block h-[82px] align-middle font-heading text-[82px] leading-tight"
        >1 062 000</span
      >
      <p class="text-[24px] leading-8">
        отправлено посылок<br />
        с 2013 года
      </p>
    </div>
  </div>
</div>
<div
  class="mx-auto flex h-[650px] max-w-[1170px] justify-center bg-[url('src/assets/images/career/map.svg')] bg-[length:480px_650px] bg-center bg-no-repeat px-4"
>
  <div class="flex h-full w-[480px] flex-col border border-red">
    <div
      class="mt-28 flex items-center before:h-[82px] before:font-heading before:text-[82px] before:leading-tight before:content-['1']"
    >
      <p class="ml-5 text-lg">
        филиал<br />
        в Хабаровске
      </p>
    </div>
    <div
      class="relative -right-44 bottom-10 mt-auto ml-auto flex before:h-[82px] before:font-heading before:text-[82px] before:leading-tight before:content-['6']"
    >
      <div class="ml-5 text-lg">
        <b class="mb-2 block"
          >Филиалов<br />
          в Приморском крае</b
        >
        <p>
          Владивосток (3 филиала),
          <br />Артем,<br />
          Находка,<br />
          Уссурийск
        </p>
      </div>
    </div>
  </div>
</div>
