<div class="mx-auto mt-10 block max-w-[1170px] px-4 lg:mt-16">
  <h1 class="mb-14 lg:mb-22 font-heading text-2xl font-bold lg:text-3xl">Новости Баскурьер</h1>
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-3 lg:gap-8">
    <article
      *ngFor="let article of news$ | async as news"
      class="flex max-w-[540px] flex-col sm:max-w-[850px] sm:flex-row sm:space-x-5 md:space-x-9 lg:flex-col lg:space-x-0"
    >
      <img
        class="mb-6 block h-48 w-full flex-shrink-0 rounded-sm object-cover sm:w-[270px] md:mb-0 md:w-[345px] lg:mb-6 lg:w-auto"
        [src]="article.image"
      />
      <div>
        <h3 class="mb-2.5 text-lg font-medium">
          {{ article.title }}
        </h3>
        <div>
          <!--          {{ article.short }}-->
          <a
            routerLink="/news"
            [queryParams]="{id: article.news_id}"
            class="link-blue"
          >
            Читать далее
          </a>
        </div>
      </div>
    </article>
  </div>
</div>
