<ng-container *tuiLet="points$ | async as points">
  <ng-container *ngIf="points">
    <tui-accordion [rounded]="false">
      <tui-accordion-item
        *ngFor="let key of getPointsKeys(points)"
        [showArrow]="false"
      >
        <b>{{ key }}</b>
        <ng-template tuiAccordionItemContent>
          <tui-accordion [rounded]="false">
            <tui-accordion-item
              *ngFor="let department of points[key]"
              (click)="setMapPoints(department.mapPoints)"
            >
              <b>{{ department.name }}</b>
              <ng-template tuiAccordionItemContent>
                <dl *ngFor="let info of department.info">
                  <ng-container *ngFor="let item of info">
                    <dt>{{ item.type }}</dt>
                    <dd>{{ item.text }}</dd>
                  </ng-container>
                </dl>
                <div class="h-[300px]">
                  <ng-container *ngTemplateOutlet="map"></ng-container>
                </div>
              </ng-template>
            </tui-accordion-item>
          </tui-accordion>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </ng-container>
</ng-container>
<ng-template #map>
  <app-map [points]="currentMapPoints"></app-map>
</ng-template>
