<form [formGroup]="form" (ngSubmit)="onSubmit()" class="">
  <div class="mb-3 grid gap-3 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2">
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Имя
        <sup
          class="text-red"
          *ngIf="
            form.get('name').errors && form.get('name').hasError('required')
          "
          >*</sup
        >
      </span>
      <tui-input
        tuiTextfieldSize="m"
        formControlName="name"
        [tuiTextfieldLabelOutside]="true"
      >
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Телефон
        <sup
          class="text-red"
          *ngIf="
            form.get('phone').errors && form.get('phone').hasError('required')
          "
          >*</sup
        >
      </span>
      <tui-input-phone
        formControlName="phone"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        <input tuiTextfield autocomplete="tel" />
      </tui-input-phone>
      <tui-error
        formControlName="phone"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label class="block sm:col-span-2 sm:col-span-full lg:col-span-2">
      <span class="mb-1 inline-block text-xs">
        Email
        <sup
          class="text-red"
          *ngIf="
            form.get('email').errors && form.get('email').hasError('required')
          "
          >*</sup
        >
      </span>
      <tui-input
        tuiTextfieldSize="m"
        formControlName="email"
        [tuiTextfieldLabelOutside]="true"
      >
        <input tuiTextfield type="email" />
      </tui-input>
      <tui-error
        formControlName="email"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label class="block sm:col-span-2 sm:col-span-full lg:col-span-2">
      <span class="mb-1 inline-block text-xs">
        Комментарий к заявке
        <sup
          class="text-red"
          *ngIf="
            form.get('message').errors &&
            form.get('message').hasError('required')
          "
          >*</sup
        >
      </span>
      <tui-text-area formControlName="message"></tui-text-area>
      <tui-error
        formControlName="message"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
  </div>
  <tui-checkbox-labeled
    formControlName="agree"
    class="mb-7"
    appearance="accent"
  >
    <span class="text-2xs">
      Нажимая кнопку «Отправить», я даю свое согласие на
      <a class="text-black">обработку моих персональных данных</a>
    </span>
  </tui-checkbox-labeled>
  <button type="submit" tuiButton size="m" appearance="accent" [showLoader]="">
    Отправить заявку
  </button>
</form>
