<tui-loader [showLoader]="isLoading$ | async" class="min-h-min">
  <article
    *ngIf="data$ | async as data"
    class="relative flex min-h-min flex-col rounded-sm bg-white p-4 md:p-8"
  >
    <button
      type="button"
      class="absolute top-3 right-4 text-gray-800 md:right-3"
      (click)="close()"
    >
      <tui-svg src="icons::close-2" class="!h-[22px] !w-[22px]"></tui-svg>
    </button>
    <img
      class="mt-8 h-48 w-full object-cover md:mt-6 md:h-80"
      [src]="data.image"
    />
    <h1 class="mt-7 mb-5 font-heading text-lg font-bold md:text-xl">
      {{ data.title }}
    </h1>
    <div
      class="mb-2 text-xs md:mb-4 md:text-base"
      [innerHTML]="data.text"
    ></div>
  </article>
</tui-loader>
