<article
  *tuiLet="article$ | async as article"
  class="relative flex flex-col rounded-sm bg-white p-4 md:p-8"
>
  <button
    type="button"
    class="absolute top-3 right-4 text-gray-800 md:right-3"
    (click)="close()"
  >
    <tui-svg src="icons::close-2" class="!h-[22px] !w-[22px]"></tui-svg>
  </button>
  <app-img
    class="mt-8 h-48 w-full object-cover md:mt-6 md:h-80"
    src="/assets/images/complex-tasks/task-3--xl"
  ></app-img>
  <h1 class="mt-7 mb-5 font-heading text-lg font-bold md:text-xl">
    {{ article.title }}
  </h1>
  <p class="mb-2 text-xs md:mb-4 md:text-base">
    {{ article.text }}
  </p>
  <ul>
    <li class="mb-1 flex items-center space-x-1.5">
      <tui-svg src="icons::check" class="text-green"></tui-svg>
      <span class="text-xs md:text-base"
        >забор и выкуп автозапчасти в магазине.</span
      >
    </li>
    <li class="mb-1.5 flex items-center space-x-1.5">
      <tui-svg src="icons::check" class="text-green"></tui-svg>
      <span class="text-xs md:text-base">доставка до пункта назначения.</span>
    </li>
  </ul>
</article>
