<div [formGroup]="form" class="mt-5">
  <h2 class="mb-7 text-lg font-semibold">Дополнительные услуги:</h2>

  <ng-container formArrayName="services">
    <div
      *ngFor="let service of services.controls"
      [formGroup]="service"
      class="mb-5"
    >
      <tui-checkbox-labeled
        [formControlName]="service.get('data').value.id"
        (change)="
          toggleService(
            service.get(service.get('data').value.id),
            service.get('sum') || service.get('phone')
          )
        "
        class="mb-2"
      >
        {{ service.get('data').value.name }}
      </tui-checkbox-labeled>
      <ng-container
        *ngIf="
          service.get('phone') &&
          service.get(service.get('data').value.id).value
        "
      >
        <label class="ml-7 block w-[280px]">
          <div class="mb-1 text-gray-700">
            Номер телефона
            <sup
              class="text-red"
              *ngIf="
                service.get('phone').errors &&
                service.get('phone').hasError('required')
              "
              >*</sup
            >
          </div>
          <tui-input-phone
            formControlName="phone"
            tuiTextfieldSize="m"
            [tuiTextfieldLabelOutside]="true"
            phoneMaskAfterCountryCode="(###) ###-####"
          >
            <input tuiTextfield autocomplete="tel" />
          </tui-input-phone>
          <tui-error
            formControlName="phone"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </label>
      </ng-container>

      <ng-container
        *ngIf="
          service.get('sum') && service.get(service.get('data').value.id).value
        "
      >
        <label class="ml-7 block w-[280px]">
          <div class="mb-1 text-gray-700">
            Объявленная ценность
            <sup
              class="text-red"
              *ngIf="
                service.get('sum').errors &&
                service.get('sum').hasError('required')
              "
              >*</sup
            >
          </div>
          <tui-input-number
            formControlName="sum"
            tuiTextfieldSize="m"
            postfix="₽"
            [tuiTextfieldLabelOutside]="true"
            [max]="30001"
          >
          </tui-input-number>
          <tui-error
            formControlName="sum"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </label>
      </ng-container>
    </div>
  </ng-container>
</div>
