<ya-map
  [center]="[latitude, longitude]"
  [zoom]="zoom"
  [options]="{
    avoidFractionalZoom: true,
    copyrightLogoVisible: false,
    copyrightProvidersVisible: false,
    copyrightUaVisible: false
  }"
  [state]="{controls: ['zoomControl']}"
  (yawheel)="zoomScroll($event)"
  (ready)="ready()"
>
  <ya-placemark
    *ngFor="let point of points"
    [geometry]="[point.geo_x, point.geo_y]"
    [properties]="placemarkProperties"
    [options]="placemarkOptions"
    (yaclick)="go(point)"
  ></ya-placemark>
</ya-map>
<!--<div class="absolute inset-0"></div>-->
