<div [formGroup]="form" class="relative mb-5 p-5 sm:p-0 border border-gray-100 sm:border-0 mt-8 before:content-['Посылка']
  before:absolute before:-top-2.5 before:left-5 before:block before:pl-0.5 before:pr-0.5
  before:bg-white before:text-xs before:font-medium before:text-gray-600 sm:before:hidden">
  <div class="mb-2 lg:mb-0.5 grid grid-cols-2 gap-4 sm:grid-cols-none sm:gap-0 sm:flex sm:flex-row sm:items-center sm:space-x-4
  ">
    <label class="block sm:w-24">
      <span class="mb-1 inline-block text-xs">
        Кол-во мест
        <sup class="text-red" *ngIf="count.errors && count.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="count"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="100"
        [pseudoInvalid]="!!(count.invalid && form.touched)"
      >
        <input tuiTextfield (blur)="onTouched()" />
      </tui-input-number>
    </label>
    <label class="block sm:w-24">
      <span class="mb-1 inline-block text-xs">
        Вес
        <sup
          class="text-red"
          *ngIf="weight.errors && weight.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="weight"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [pseudoInvalid]="
          !!(
            (weight.invalid && form.touched) ||
            (form.errors && form.errors['weight'])
          )
        "
        postfix="кг"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="block sm:w-24">
      <span class="mb-1 inline-block text-xs">
        Ширина
        <sup class="text-red" *ngIf="width.errors && width.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="width"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="250"
        [pseudoInvalid]="
          !!(
            (width.invalid && form.touched) ||
            (form.errors && form.errors['dimensions'])
          )
        "
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="block sm:w-24">
      <span class="mb-1 inline-block text-xs">
        Высота
        <sup class="text-red" *ngIf="height.errors && form.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="height"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="250"
        [pseudoInvalid]="
          !!(
            (height.invalid && form.touched) ||
            (form.errors && form.errors['dimensions'])
          )
        "
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="block sm:w-24">
      <span class="mb-1 inline-block text-xs">
        Длина
        <sup
          class="text-red"
          *ngIf="length.errors && length.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="length"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="250"
        [pseudoInvalid]="
          !!(
            (length.invalid && form.touched) ||
            (form.errors && form.errors['dimensions'])
          )
        "
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <div class="mt-6 flex flex-col justify-center">
      <ng-content select="button"></ng-content>
    </div>
  </div>
  <tui-error
    [formGroup]="form"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
</div>
