<div [formGroup]="form">
  <div class="mb-5 flex items-center space-x-4">
    <label class="mb-3 block w-24">
      <span class="mb-1 inline-block text-xs">
        Кол-во мест
        <sup class="text-red" *ngIf="count.errors && count.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="count"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="100"
      >
        <input tuiTextfield (blur)="onTouched()" />
      </tui-input-number>
    </label>
    <label class="mb-3 block w-24">
      <span class="mb-1 inline-block text-xs">
        Вес
        <sup
          class="text-red"
          *ngIf="weight.errors && weight.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="weight"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="100"
        postfix="кг"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="mb-3 block w-24">
      <span class="mb-1 inline-block text-xs">
        Ширина
        <sup class="text-red" *ngIf="width.errors && width.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="width"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="100"
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="mb-3 block w-24">
      <span class="mb-1 inline-block text-xs">
        Высота
        <sup
          class="text-red"
          *ngIf="height.errors && height.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="height"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="100"
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <label class="mb-3 block w-24">
      <span class="mb-1 inline-block text-xs">
        Длина
        <sup
          class="text-red"
          *ngIf="length.errors && length.hasError('required')"
          >*</sup
        >
      </span>
      <tui-input-number
        [formControl]="length"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [min]="1"
        [max]="100"
        postfix="см"
      >
        <input tuiTextfield />
      </tui-input-number>
    </label>
    <button type="button" (click)="deleteParcel(0)">Delete</button>
  </div>
  form.errors: {{ form.errors && form.errors['required'] }}
  <!--  <div *ngIf="form.errors">Необходимо заполнить все поля</div>-->
  <tui-error
    [formGroup]="form"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
</div>
