<div class="mx-auto mt-10 max-w-[1170px] px-4 lg:mt-16">
 <div class="flex flex-col space-y-10 items-center md:flex-row md:space-y-0 md:space-x-18 md:items-start">
   <tui-svg src="icons::new-order-success" class="!h-[134px] !w-[150px]"></tui-svg>
   <div class="flex flex-col text-center items-center md:text-start md:items-start">
     <h1 class="mb-5 text-xl sm:text-3xl font-bold">Спасибо за заявку!</h1>
     <p class="text-gray-700 sm:text-md max-w-xl">Заявка на перевозку <b class="text-black">№2174373</b> успешно оформлена!</p>
     <p class="mb-5 text-gray-700 sm:text-md max-w-xl">В ближайшее время с вами свяжется наш менеджер, чтобы подтвердить детали отправления.</p>
     <div class="flex flex-col items-center space-y-4 sm:flex-row sm:items-start sm:space-y-0 sm:space-x-4">
       <button type="button" tuiButton size="s">Посмотреть состояние заказа</button>
       <button type="button" tuiButton appearance="accent" size="s">Вернуться на главную</button>
     </div>
   </div>
 </div>
</div>
