<div class="mx-auto max-w-[1170px]">
  <div class="mt-10 flex flex-col">
    <div class="px-4">
      <h1 class="mb-6 font-heading text-2xl">
        Срочная доставка по Приморскому краю
      </h1>
      <p class="mb-6 text-sm">
        <b class="inline-block rounded-sm bg-yellow px-2 py-1 font-bold"
          >от 2 до 24 часов</b
        >
        рейсовыми автобусами
      </p>
      <div class="mb-14 flex">
        <div class="mr-6 space-x-2">
          <tui-svg src="icons::parcel" class="!h-[28px] !w-[28px]"></tui-svg>
          <span>Посылки</span>
        </div>
        <div class="mr-4 space-x-1">
          <tui-svg src="icons::docs" class="!h-[28px] !w-[28px]"></tui-svg>
          <span>Документы</span>
        </div>
        <div class="space-x-2">
          <tui-svg src="icons::box" class="!h-[28px] !w-[28px]"></tui-svg>
          <span>Грузы</span>
        </div>
      </div>
    </div>
    <app-cities-form></app-cities-form>
  </div>
</div>
