<div class="mx-auto mt-10 max-w-[1170px]">
  <div class="mb-16 flex flex-col items-start sm:px-4 md:flex-row md:space-x-8">
    <div
      class="px-4 sm:mx-auto sm:max-w-md sm:px-0 sm:text-center md:mx-0 md:max-w-full md:flex-grow md:text-left"
    >
      <h1 class="mb-6 font-heading text-2xl font-bold lg:text-3xl">
        Срочная доставка <br />
        по Приморскому краю <br class="hidden sm:block" />
        и в Хабаровск
      </h1>
      <p class="mb-6 text-sm md:mb-9 lg:text-lg">
        <b class="inline-block rounded-sm bg-yellow px-2 py-1 font-bold"
          >от 2 до 24 часов</b
        >
        рейсовыми автобусами
      </p>
      <app-image
        src="/assets/images/index/bus-sm"
        class="hidden md:mb-8 md:block lg:hidden"
      ></app-image>
      <div class="mb-14 flex">
        <div class="mr-6 space-x-2">
          <tui-svg src="icons::parcel" class="!h-[28px] !w-[28px]"></tui-svg>
          <span>Посылки</span>
        </div>
        <div class="mr-4 space-x-1">
          <tui-svg src="icons::docs" class="!h-[28px] !w-[28px]"></tui-svg>
          <span>Документы</span>
        </div>
        <div class="space-x-2">
          <tui-svg src="icons::box" class="!h-[28px] !w-[28px]"></tui-svg>
          <span>Грузы</span>
        </div>
      </div>
    </div>
    <app-cities-form></app-cities-form>
  </div>
  <div class="px-4">
    <h2 class="mb-3 text-2xl font-bold">
      Охватываем всю территорию<br />
      Приморского края
    </h2>
    <p class="mb-13">И даже самые труднодоступные населенные пункты региона</p>
    <div
      class="flex flex-col justify-center md:flex-row md:justify-start md:space-x-6 xl:flex-col xl:space-x-0"
    >
      <!--      item-1-->
      <div
        class="mb-7 flex items-center space-x-5 md:flex-col md:items-start md:space-x-0 xl:mb-13 xl:flex-row xl:items-center xl:space-x-8"
      >
        <b
          class="flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-yellow text-4xl before:content-['9'] md:mb-6 xl:mb-0"
        ></b>
        <div class="flex flex-col">
          <p class="mb-3 lg:text-md">
            Пунктов отправления<br />
            в ключевых городах региона
          </p>
          <button type="button" class="text-left">
            <tui-svg
              src="icons::help"
              class="mr-2.5 !h-[21px] !w-[22px]"
            ></tui-svg>
            <span class="border-b border-dotted text-xs text-gray-600"
              >Список пунктов отправления</span
            >
          </button>
        </div>
      </div>
      <!--      item-1-->
      <div
        class="mb-7 flex items-center space-x-5 md:flex-col md:items-start md:space-x-0 xl:mb-13 xl:flex-row xl:items-center xl:space-x-8"
      >
        <b
          class="flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-yellow text-4xl before:content-['75'] md:mb-6 xl:mb-0"
        ></b>
        <div class="flex flex-col">
          <p class="mb-3 lg:text-md">
            Населенных пунктов<br />
            для получения ваших посылок
          </p>
          <button type="button" class="text-left">
            <tui-svg
              src="icons::help"
              class="mr-2.5 !h-[21px] !w-[22px]"
            ></tui-svg>
            <span class="border-b border-dotted text-xs text-gray-600"
              >Список пунктов получения</span
            >
          </button>
        </div>
      </div>
      <!--      item-1-->
      <div
        class="mb-7 flex items-center space-x-5 md:flex-col md:items-start md:space-x-0 xl:mb-13 xl:flex-row xl:items-center xl:space-x-8"
      >
        <b
          class="flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-yellow text-4xl before:content-['58'] md:mb-6 xl:mb-0"
        ></b>
        <div class="flex flex-col">
          <p class="mb-3 lg:text-md">
            Рейсовых автобуса<br />
            ежедневно отправляет<br />
            ваши посылки
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
