<a [routerLink]="['/account']" class="mb-6 flex items-center hover:opacity-70">
  <tui-svg src="icons::account-back" class="mr-3 !h-[32px] !w-[32px]"></tui-svg>
  <span class="text-sm">Назад к личному кабинету</span>
</a>
<h1 class="mb-8 font-heading text-2xl font-bold sm:text-3xl">
  Персональные данные
</h1>
<div
  *tuiLet="isProfileLoading$ | async as isProfileLoading"
  class="max-w-[520px]"
>
  <tui-loader [showLoader]="isProfileLoading" [class.h-32]="isProfileLoading">
    <ng-container *ngIf="profile$ | async as profile">
      <ul
        class="mb-8 space-y-2"
        [class.opacity-0]="isProfileLoading"
        [class.height-0]="isProfileLoading"
      >
        <li
          class="flex items-baseline justify-between gap-1 after:order-2 after:h-1 after:basis-full after:border-b after:border-dotted after:border-gray-500"
        >
          <span class="order-1 flex-shrink-0">ФИО:</span>
          <span class="order-3 flex-shrink-0">{{
            profile.contactperson.value
          }}</span>
        </li>
        <li
          class="flex items-baseline justify-between gap-1 after:order-2 after:h-1 after:basis-full after:border-b after:border-dotted after:border-gray-500"
        >
          <span class="order-1 flex-shrink-0">Email:</span>
          <span class="order-3 flex-shrink-0">{{ profile.email.value }}</span>
        </li>
        <li
          class="flex items-baseline justify-between gap-1 after:order-2 after:h-1 after:basis-full after:border-b after:border-dotted after:border-gray-500"
        >
          <span class="order-1 flex-shrink-0">Телефон:</span>
          <span class="order-3 flex-shrink-0">{{ profile.phone.value }}</span>
        </li>
        <li
          class="flex items-baseline justify-between gap-1 after:order-2 after:h-1 after:basis-full after:border-b after:border-dotted after:border-gray-500"
        >
          <span class="order-1 flex-shrink-0">Паспортные данные:</span>
          <span class="order-3 flex-shrink-0">{{
            profile.passport.value || 'Не указаны'
          }}</span>
        </li>
      </ul>
      <button
        [routerLink]="['edit']"
        tuiButton
        type="button"
        size="m"
        [class.opacity-0]="isProfileLoading"
        [class.height-0]="isProfileLoading"
      >
        Изменить данные
      </button>
    </ng-container>
  </tui-loader>
</div>
