<h1 class="mt-10 lg:mt-20 mb-9 font-heading text-2xl font-bold lg:text-3xl">
  Расчет стоимости перевозки<br />
  по Приморскому краю
</h1>
<div class="mb-10 grid lg:grid-cols-2 gap-10">
  <app-start-point [boldCityLabel]="true"></app-start-point>
  <app-end-point [boldCityLabel]="true"></app-end-point>
</div>
<app-orders></app-orders>
<tui-line-clamp
  [content]="template"
  class="mt-7 mb-4"
  [linesLimit]="linesLimit"
  [lineHeight]="21"
></tui-line-clamp>
<button (click)="toggleLinesClamp()">
  <span class="text-sm">{{
    isClampActive ? 'Свернуть' : 'Читать подробнее'
  }}</span>
  <tui-svg
    src="icons::expand"
    class="ml-2.5 !h-8 !w-8 transition-all duration-100"
    [class.rotate-180]="isClampActive"
  ></tui-svg>
</button>
<ng-template #template>
  <p>
    Компания «Баскурьер» – это современная курьерская служба экспресс-доставки
    на Дальнем Востоке. Ежедневно мы успешно организовываем курьерскую доставку
    посылок, документов и различных грузов из г. Владивостока в г. Хабаровск,
    Уссурийск, Находку, Дальнегорск, Кавалерово и др. с помощью РЕЙСОВЫХ
    АВТОБУСОВ!
  </p>
  <p>
    Мы предлагаем приемлемые тарифы, высокую скорость доставки и ручаемся за
    каждый наш груз. Мы не работаем по принципу «наборных грузов», а доставляем
    вашу посылку в ближайшее время с момента оформления заказа. Это
    осуществляется за счет регулярного движения междугородных автобусов и
    наличию большого количества рейсов по многим направлениям.
  </p>
  <p>
    Мы – Баскурьер, предлагаем нашим клиентам следующие курьерские услуги:
    Доставка и забор грузов от двери до двери, забор грузов в Аэропорту г.
    Владивостока, срочная доставка груза в г. Хабаровск, срочная доставка
    документов по Приморскому краю от 2 до 24 часов.
  </p>
  <p>
    У наших клиентов есть уникальная возможность – хранение на складе в течение
    суток бесплатное! А это значит, что вы можете забрать свое отправление в
    любое удобное для вас время. Для того, чтобы узнать стоимость отправки
    рейсовым автобусом вашего груза, мы предусмотрели для Вас – онлайн
    калькулятор. Введите необходимые данные, и Вы узнаете сколько стоит
    перевозка того или иного груза. Головной офис нашей компании находится в г.
    Владивостоке, а филиалы расположены в г. Находке, г. Артеме, г. Уссурийске и
    г. Хабаровске – на базе автовокзалов; в г. Дальнегорске, в г. Арсеньеве и г.
    Спасске-Дальнем – на базе наших партнеров.
  </p>
  <p>
    Мы сотрудничаем не только с частными лицами, но и с крупными российскими
    компаниями: Аэрофлот, S7 Airlines, EASTJET, Аврора, Сбербанк, Гиперавто,
    Юнилаб. Компания Баскурьер – всегда открыта перед своими клиентами! Вы
    можете воспользоваться услугой – отслеживание груза у нас на сайте или
    подключить услугу расширенных смс-уведомлений, чтобы быть в курсе обо всех
    этапах курьерской доставки вашей посылки.
  </p>
</ng-template>
