<div class="mx-auto mt-10 block max-w-[1170px] px-4 lg:mt-16 xl:px-0">
  <div class="mb-10 grid grid-cols-1 gap-16 lg:grid-cols-[1fr_370px] lg:gap-8">
    <div>
      <h1 class="mb-1 font-heading text-2xl font-bold lg:text-3xl">
        Упаковка грузов
      </h1>
      <p class="mb-10 text-sm">
        Правильно выбранная упаковка обеспечит целостность и сохранность вашего
        груза при перевозке. Мы подобрали для вас большой ассортимент надежных
        упаковочных материалов, для самых разнообразных видов отправлений.
      </p>
      <div>
        <app-package count="1">
          <b>Коробки картонные</b>
          <p>
            Это надежная упаковка, которая используется для защиты грузов от
            деформации и загрязнений, позволяет компактно упаковать несколько
            видов грузов вместе.
          </p>
          <app-img src="/assets/images/index/images-box/img-2"></app-img>
          <dl>
            <dt class="font-medium">80 руб.</dt>
            <dd>за один метр</dd>
          </dl>
          <!--          <app-table class="">-->
          <!--            <ng-container class="head">-->
          <!--              <th>Название</th>-->
          <!--              <th>Размер</th>-->
          <!--              <th>Цена</th>-->
          <!--            </ng-container>-->
          <!--            <ng-container class="body">-->
          <!--              <tr>-->
          <!--                <td>Мини</td>-->
          <!--                <td>150 х 150 х 150</td>-->
          <!--                <td>50 руб</td>-->
          <!--              </tr>-->
          <!--              <tr>-->
          <!--                <td>Маленькая</td>-->
          <!--                <td>380 х 285 х 142</td>-->
          <!--                <td>80 руб</td>-->
          <!--              </tr>-->
          <!--              <tr>-->
          <!--                <td>Средняя</td>-->
          <!--                <td>450 х 450 х 300</td>-->
          <!--                <td>120 руб</td>-->
          <!--              </tr>-->
          <!--              <tr>-->
          <!--                <td>Большая</td>-->
          <!--                <td>680 х 470 х 470</td>-->
          <!--                <td>180 руб</td>-->
          <!--              </tr>-->
          <!--            </ng-container>-->
          <!--          </app-table>-->
        </app-package>
      </div>
    </div>
    <div class="border border-red">asdad</div>
  </div>
</div>
