<div class="mx-auto mt-10 block max-w-[1170px] px-4 lg:mt-16">
  <div class="mb-10 grid grid-cols-1 gap-16 lg:grid-cols-[1fr_370px] lg:gap-20">
    <div>
      <h1 class="mb-1 font-heading text-2xl font-bold lg:text-3xl">
        Упаковка грузов
      </h1>
      <p class="mb-10 text-sm">
        Правильно выбранная упаковка обеспечит целостность и сохранность вашего
        груза при перевозке. Мы подобрали для вас большой ассортимент надежных
        упаковочных материалов, для самых разнообразных видов отправлений.
      </p>
      <div>
        <app-package count="1">
          <b>Коробки картонные</b>
          <p>
            Это надежная упаковка, которая используется для защиты грузов от
            деформации и загрязнений, позволяет компактно упаковать несколько
            видов грузов вместе.
          </p>
          <app-img src="/assets/images/index/images-box/img-2"></app-img>
          <table>
            <tr>
              <td>1</td>
              <td>2</td>
            </tr>
          </table>
        </app-package>
      </div>
    </div>
    <div>asdad</div>
  </div>
</div>
