/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

.t-dialog {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

@tailwind utilities;

@layer base {
  body {
    font: unset;
    @apply font-sans text-base text-gray;
  }
}
