@import './assets/css/tui-settings.css';

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import './assets/css/base.css';

@import 'tailwindcss/components';
@import './assets/css/components/t-dialog.css';
@import './assets/css/components/t-wrapper.css';
@import './assets/css/components/t-tabs.css';
@import './assets/css/components/t-scrollbar.css';
@import './assets/css/components/t-accordion.css';
@import './assets/css/components/t-carousel.css';
@import './assets/css/components/t-svg.css';
@import './assets/css/components/ya-maps.css';
@import './assets/css/components/input.css';
@import './assets/css/components/checkbox.css';
@import './assets/css/components/re-captcha.css';
@import './assets/css/components/list.css';

@import 'tailwindcss/utilities';
