<form [formGroup]="form">
  <div
    *tuiLet="cargoTypes$ | async as cargoTypes"
    class="mt-10 mb-5 flex items-center"
  >
    <div class="mr-12 text-lg font-semibold">Тип груза:</div>
    <tui-radio-list
      orientation="horizontal"
      [formControl]="active"
      [items]="cargoTypes"
      [itemContent]="cargoTypesContent"
      (change)="changeCargoType()"
    ></tui-radio-list>
    <ng-template #cargoTypesContent let-data>
      {{ data.name }}
    </ng-template>
  </div>
  <div *ngIf="this.form.get('active').value?.id === '1'">
    <app-docs [formControl]="docs"></app-docs>
  </div>
  <div *ngIf="active.value?.id === '2'">
    <app-parcels [formControl]="parcels"></app-parcels>
  </div>
  <div *ngIf="active.value?.id === '5'">
    <app-auto-parts [formControl]="auto"></app-auto-parts>
  </div>
  <div *ngIf="active.value?.id === '21'">
    <app-other-cargos [formControl]="other"></app-other-cargos>
  </div>
</form>
